<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="widget">
          <h5 class="widgetheading">CONTÁCTENOS</h5>
          <address>
          <strong>Proessa</strong><br>
          Av. Petit Thouars 1775 - Oficina 1001<br>
          Lince - Lima</address>
          <p>
            <i class="icon-phone"></i> (+51) 912073401 <br>
            <i class="icon-envelope-alt"></i> info@proessaingenieria.com
          </p>
        </div>
        <br>
        <div class="copyright">
          <p>Proessa &copy; <%= new Date().getFullYear() %>
          </p>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="widget">
          <h5 class="widgetheading">MAPA DE SITIO</h5>
          <ul class="link-list">
            <li><a class="waves-effect waves-dark" href="/#content">Servicios</a></li>
            <li><a class="waves-effect waves-dark" href="/#about">Nosotros</a></li>
            <li><a class="waves-effect waves-dark" href="/#contact">Contáctanos</a></li>
          </ul><br>
          <h5 class="widgetheading">CAPACITACIONES</h5>
          <ul class="link-list">
            <li><a class="waves-effect waves-dark" href="/curso?slug=diseno-de-sistemas-de-bombeo-aplicados-a-saneamiento">Diseño de sistemas de bombeo aplicados a saneamiento</a></li>
            <li><a class="waves-effect waves-dark" href="/curso?slug=invierte-pe">Invierte.pe</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
