<meta charset="utf-8">
<title>Proessa Ingeniería</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Somos un equipo de profesionales enfocados en brindar soluciones para el sector construcción y saneamiento en el país, brindando servicios de consultoría y capacitación especializados a profesionales y organizaciones, tanto del sector público como privado.
Contamos con un staff de profesionales altamente capacitados para brindarte la mejor información que hará que apliques tus nuevos conocimientos desde el primer día. 
Nuestra meta, compromiso y principal responsabilidad es hacer de cada alumno el mejor profesional, y brindar la mejor solución técnica en cada proyecto desarrollado." />
<meta property="og:url" content="https://proessaingenieria.com/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Proessa Ingeniería | Profesionales en Educación e Ingeniería para el sector Construcción y Saneamiento" />
<meta property="og:description" content="Somos un equipo de profesionales enfocados en brindar soluciones para el sector construcción y saneamiento en el país, brindando servicios de consultoría y capacitación especializados a profesionales y organizaciones, tanto del sector público como privado.
Contamos con un staff de profesionales altamente capacitados para brindarte la mejor información que hará que apliques tus nuevos conocimientos desde el primer día. 
Nuestra meta, compromiso y principal responsabilidad es hacer de cada alumno el mejor profesional, y brindar la mejor solución técnica en cada proyecto desarrollado." />
<meta property="og:image" content="https://proessaingenieria.com/img/logo-proessa.jpg" />

<link rel="shortcut icon" href="/img//favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">


<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!-- [if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif] -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<% if(!(process.env.NODE_ENV && process.env.NODE_ENV=='development')) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4D2JNT1N3H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4D2JNT1N3H');
</script>
<% } %>