<!-- TOP - SOCIALES -->
<header class="topbar">
  <div class="container">
    <div class="row">
      <!-- social icon-->
      <div class="col-sm-3">
         <ul class="social-network">
          <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
          <!-- <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li> -->
          <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
          <!--<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>-->
        </ul>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <ul class="info"> 
            <li><a href="mailto:info@proessaingenieria.com"><i class="icon-info-blocks material-icons">question_answer</i><span>info@proessaingenieria.com</span></a></li>
            <!-- <li><i class="icon-info-blocks material-icons">perm_phone_msg</i><span>+(51) 345 6789</span></li> -->
          </ul>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- FIN TOP - SOCIALES -->


<!-- NAV - HEADER -->
<header>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="font-family: 'Righteous', cursive; margin-top:0px;"><img src="img/logo-proessa.png" alt="logo_proessa" style=" max-width: 120px;"></a>
      </div>
      <div class="navbar-collapse collapse ">
        <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle waves-effect waves-dark">Capacitaciones<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="<%= active=='curso1' ? 'active': '' %>"><a class="waves-effect waves-dark" href="/curso?slug=1">Diseño de sistemas de bombeo apli. . .</a></li>
                <li class="<%= active=='curso2' ? 'active': '' %>"><a class="waves-effect waves-dark" href="/curso?slug=2">Invierte.pe</a></li>
              </ul>
            </li>
            <li><a class="waves-effect waves-dark" href="/#content">Servicios</a></li>
            <li><a class="waves-effect waves-dark" href="/#about">Nosotros</a></li>
            <li><a class="waves-effect waves-dark" href="/#contact">Contáctanos</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- FIN NAV - HEADER -->
