<!-- TOP - SOCIALES -->
<header class="topbar">
  <div class="container">
    <div class="row">
      <!-- social icon-->
      <div class="col-sm-3">
         <ul class="social-network">
          <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
          <!-- <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li> -->
          <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <ul class="info"> 
            <li><i class="icon-info-blocks material-icons">question_answer</i><span>hola@proessaingenieria.com</span></li>
            <li><i class="icon-info-blocks material-icons">perm_phone_msg</i><span>+(51) 345 6789</span></li>
          </ul>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- FIN TOP - SOCIALES -->


<!-- NAV - HEADER -->
<header>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="icon-info-blocks material-icons">sss</i>PROESSA</a>
      </div>
      <div class="navbar-collapse collapse ">
        <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle waves-effect waves-dark">Capacitaciones<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a class="waves-effect waves-dark" href="#">Curso 1</a></li>
                <li><a class="waves-effect waves-dark" href="#">Curso 2</a></li>
              </ul>
            </li>
            <li class="<%= active=='services' ? 'active': '' %>"><a class="waves-effect waves-dark" href="/services">Services</a></li>
            <li class="<%= active=='consultoria' ? 'active': '' %>"><a class="waves-effect waves-dark" href="/consultoria">Consultoría</a></li>
            <li class="<%= active=='nosotros' ? 'active': '' %>"><a class="waves-effect waves-dark" href="/nosotros">Nosotros</a></li>
            <li class="<%= active=='contacto' ? 'active': '' %>"><a class="waves-effect waves-dark" href="/contactanos">Contáctanos</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- FIN NAV - HEADER -->
