<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('partials/header') -%>
</head>
<body>
<div id="wrapper" class="home-page"> 
	
	<%- include('partials/navbar', {active: 'index'}) -%>
	
	<!-- Slider -->
	<section id="banner">
		<div id="main-slider" class="flexslider">
			<ul class="slides">
				<li>
					<img src="img/slides/1.jpg" alt="" />
					<div class="flex-caption">
						<!-- <h3>Titulo 1</h3>
						<p>Descripción corta</p> -->
					</div>
				</li>
				<li>
					<img src="img/slides/2.jpg" alt="" />
					<div class="flex-caption">
						<!-- <h3>Titulo 1</h3>
						<p>Descripción corta</p> -->
					</div>
				</li>
				<li>
					<img src="img/slides/3.jpg" alt="" />
					<div class="flex-caption">
						<!-- <h3>Titulo 1</h3>
						<p>Descripción corta</p> -->
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- end slider -->
	<section id="content"> 
	<div class="container">

		<section class="services">
			<div class="row">
				<div class="col-md-12">
					<div class="aligncenter">
						<h2 class="aligncenter">Servicios / Beneficios</h2>
					</div>
				</div>
			</div>

	 		<div class="row">
				<div class="col-sm-4 info-blocks">
					<div class="info-blocks-in">
						<i class="icon-info-blocks material-icons">perm_identity</i>
						<h3>Clases presenciales</h3>
						<div class="line"></div>
						<p>Las clases son 100% presenciales, en ambientes equipados y diseñados exclusivamente para la enseñanza. Creemos en la ventaja de una clase en modo presencial, porque permite una interacción más completa y eficaz entre el docente capacitador y el estudiante, además, por la sinergia que se genera al unir en un mismo ambiente, profesionales de varios campos interesados en temas comunes, la posibilidad del networking, la interacción para sacar conclusiones comunes con la suma de los conocimientos y experiencias, garantizando así un aprendizaje grupal más productivo, óptimo y enriquecedor. Sin embargo, no podemos negar las ventajas que nos da la educación on-line, que se utilizará en un futuro como una herramienta para complementar nuestro sistema. </p>
					</div>
				</div>
				<div class="col-sm-4 info-blocks"> 
					<div class="info-blocks-in">
						<i class="icon-info-blocks material-icons">card_membership</i>
						<h3>Certificados</h3>
						<div class="line"></div>
						<p>Los certificados son físicos, a nombre de la Institución y firmados por el/los especialista(s) que dictará(n) cada curso, y se entregarán al finalizar el curso, de acuerdo al record de asistencia y resultado de la evaluación.</p>
					</div>
				</div>
				<div class="col-sm-4 info-blocks">
					<div class="info-blocks-in">
						<i class="icon-info-blocks material-icons">important_devices</i>
						<h3>Material didáctico</h3>
						<div class="line"></div>
						<p>Los materiales se entregarán a inicio de clases en físico.</p>
					</div>
				</div>
			</div> 
		</section>
	</div>
	</section>

	<section class="dishes">
		<div class="container">
	 	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Our Process</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br/>doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br/>
			</div>
		</div>
	
	<div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
					<div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="img/service1.jpg" alt="">  
                            <span class="card-title">Designing</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            </p>
                        </div>
                    </div>        
            </div>
			   <div class="col-md-4 md-margin-bottom-40">
					<div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="img/service2.jpg" alt="">  
                            <span class="card-title">Development</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            </p>
                        </div>
                    </div>        
            </div>
			   <div class="col-md-4 md-margin-bottom-40">
					<div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="img/service3.jpg" alt="">  
                            <span class="card-title">Quality</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            </p>
                        </div>
                    </div>        
            </div> 
        </div>
		</div>
		</section>

	
	<section id="about" class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Our Business</h2>
						<p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<p>Grids is a responsive Multipurpose Template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>

						<ul class="withArrow">
							<li><span class="fa fa-angle-right"></span> Lorem ipsum dolor sit amet</li>
							<li><span class="fa fa-angle-right"></span> consectetur adipiscing elit</li>
							<li><span class="fa fa-angle-right"></span> Curabitur aliquet quam id dui</li>
							<li><span class="fa fa-angle-right"></span> Donec sollicitudin molestie malesuada.</li>
						</ul>
						<a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="img/about.jpg" alt="About Images">
					</div>
				</div>
			</div>
		</div>
	</section>	  
	
	<%- include('partials/footer') -%>
	
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>

<%- include('partials/scripts') -%>

</body>
</html>